<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Mi Web Personal</title>
</head>
<body>

     <!-- Cabecera y Menú -->
     <h1>Mi Web Personal</h1>
     <ul>
          <li><a href="/">Portada</a></li>
          <li><a href="/about/">Acerca de</a></li>
          <li><a href="/portfolio/">Portafolio</a></li>
          <li><a href="/contact/">Contactos</a></li>
     </ul>
     <!-- Fin -->

     <!-- Contenido de los Template -->
     {% block content %} {% endblock %}
     <!-- Fin de los Template -->
     
</body>
</html>